$dark-color:           #2F2F2F;
$darkest-color:        darken($dark-color, 60);
$light-color:          lighten($dark-color, 60);
$lightest-color:       lighten($dark-color, 100);

$minor-accent-color:   #DADBB1;
$accent-color:         #84BCDE;
$major-accent-color:   #FB292D;

nav a {
  color: $light-color;
}

h1, h1 a, h2, h2 a {
  color: $lightest-color;
}

body {
  background: $dark-color;
  color: $light-color;
}

a {
  color: $minor-accent-color;
}