@import "base";
@import "layout";
@import "colour";

body {
  @include padding-leader;
  @include padding-trailer;
  font-family: "Verdana", "Sans-Serif";
}

nav ul {
  @include horizontal-list;
}

h1 {
  @include adjust-font-size(3); 
}

h2 {
  @include adjust-padding-leader(1.5);
  @include adjust-font-size(1.5); 
  @include adjust-padding-trailer(1.5);
}

p {
  @include padding-trailer; 
}

a {
  @include hover-link;
}

blockquote, code {
  padding-left: 2em;
}

article {
  .month, .year {
    display: block;
    text-align: center;    
    @include border-top-radius;
  }  
  .month {
    background: $darkest-color;
  }
  .year {
    background: $darker-color;
  }
}

footer {
  @include padding-leader;  
}

@import "compass/layout/grid-background";


body {
  
  @include baseline-grid-background;
}