@import "base";
@import "layout";
@import "colour";
@import "quote";
@import "code";

body {
  @include padding-leader;
  @include padding-trailer;
  font-family: "Verdana", "Sans-Serif";
}

nav > ul {
  @include horizontal-list;
}

h1 {
  @include adjust-font-size(3); 
}

h2 {
  @include adjust-padding-leader(1.5);
  @include adjust-font-size(1.5); 
  @include adjust-padding-trailer(1.5);
}

article > div > p {
  @include padding-trailer; 
}

a {
  @include hover-link;
}

blockquote {
  margin-left: 2em;
  margin-right: 2em;
  @include sexy-quote($light-color);
}

code {
  margin-left: 2em;
  margin-right: 2em;
  @include sexy-code($darker-color);
}

article {
  .month, .year {
    display: block;
    text-align: center;    
  }  
  .month {
    background: $darkest-color;
    @include border-top-radius(10px);
  }
  .year {
    background: $darker-color;
    @include border-bottom-radius(10px);
  }
}

footer {
  @include padding-leader;  
}

@import "compass/layout/grid-background";

body {
  
  @include baseline-grid-background;
}