@import "compass";
  
#title {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 10px;
  margin-bottom: 30px;
  a {
    color: #000000;
  }
}
body {
  margin-top: 30px;
  margin-bottom: 30px;
}
a {
  color: #B83000;
  @include hover-link;
}
blockquote {
  margin-left: 30px;
  color: #8C8C8C;
  border-left: 2px solid #8C8C8C;
  padding-left: 1em;
}
code {
  margin-left: 30px; 
}
#menu ul {
  list-style: none;
}
#menu li {
  float: left;
  margin-left: 0px;
  margin-right: 15px;
}
header h1 {
  margin-bottom: 0px;
}
article {
  header {
    border-bottom: 1px dotted #000000;
    margin-bottom: 10px;
    a {
      font-weight: normal;
    }
  }  
  footer ul {
    list-style: none;
    li {
      margin-left: 0px;
    }
  }
}
#footer {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #000000;
}