@import "base";
@import "compass";
@import "colour";

@include establish-baseline;

body {
  @include padding-leader;
  @include padding-trailer;
  font-family: "Verdana", "Sans-Serif";
}

nav ul {
  @include horizontal-list;
}

h1 {
  @include multiply-baseline(3); 
}

h2 {
  @include multiply-baseline(1.5); 
}

p {
  @include padding-trailer; 
}

a {
  @include hover-link;
}

article {
  aside {
    @include padding-leader;  
    span {
      display: block;
      text-align: center;
    }
  }  
  div {
    @include padding-leader;  
  }
  .month {
    background: $darkest-color;
    @include border-top-radius;
  }
  .year {
    background: $darker-color;
    @include border-bottom-radius;
  }
}

footer {
  @include padding-leader;  
}
