$dark-color:           #2F2F2F;
$darker-color:         #252525;
$darkest-color:        #202020;
$light-color:          #C6C6C6;
$lightest-color:       #FFFFFF;

$minor-accent-color:   #D9DB8A;
$accent-color:         #84BCDE;
$major-accent-color:   #FB292D;

body {
  background: $dark-color;
  color: $light-color;
}

nav a {
  color: $light-color;
}

h1, h1 a {
  color: $lightest-color;
}

h2, h2 a {
  color: $accent-color;
}

strong {
  color: $lightest-color;  
}

a {
  color: $minor-accent-color;
}