@import "base";
@import "layout";
@import "colour";
@import "quote";
@import "code";

body {
  @include padding-leader;
  @include padding-trailer;
  font-family: "Verdana", "Sans-Serif";
  a {
    @include hover-link;
  }
}

#forkme {
  position: absolute; 
  top: 0; 
  left: 0; 
  border: 0;
  @extend .asset-forkme;
}

#avatar {
  display: block;
  @extend .asset-avatar;
}

nav ul {
  @include horizontal-list;
}

#title {
  ul {
    @include horizontal-list(2px, right);
    padding-top: 0.8em; // Dirty hack alignment to be replaced with a vertical rhythm calculation.
    .rss-link {
      display: block;
      @extend .asset-rss;
    }
    .twitter-link {
      display: block;
      @extend .asset-twitter;      
    }
    .linkedin-link {
      display: block;
      @extend .asset-linkedin;      
    }
  }
  h1 {
    @include adjust-font-size(3); 
  }
}

h2 {
  @include adjust-padding-leader(1.5);
  @include adjust-font-size(1.5); 
  @include adjust-padding-trailer(1.5);
}

article {
  
  aside {
    .month, .year {
      display: block;
      text-align: center;    
    }
    .month {
      background: $darkest-color;
      @include border-top-radius(10px);
    }
    .year {
      background: $darker-color;
      @include border-bottom-radius(10px);
    }
  }
  
  div {
    ul {
      list-style: disc;
      li {
        margin-left: 2em;
      }
    }    
    > p {
      @include padding-trailer; 
    }
    blockquote {
      margin-left: 2em;
      margin-right: 2em;
      @include sexy-quote($light-color);
    }
    code {
      margin-left: 2em;
      margin-right: 2em;
      @include sexy-code($darker-color);
    }
  }
   
}

footer {
  @include padding-leader;  
}
