<article>
  <header>
    <h2><%= title %></h2>
  </header>
  <footer>
    <ul>
      <li><%= article.date %></li>
    </ul>
  </footer>
  <%= body %>
  <article>
    <h3>Comments</h3>
    <div id="disqus_thread"></div>
  </article>
</article>

<script type="text/javascript" src="http://disqus.com/forums/<%= @config[:disqus] %>/embed.js"> </script>
