<article>
  <header>
    <h2><%= article.title %></h2>
  </header>
  <aside>
    <span class="month"><%= article.date.strftime("%B") %></span>
    <span class="year"><%= article.date.year %></span>
  </aside>
  <div>
    <%= body %>
  </div>
</article>
