<article>
  <header>
    <h2><a href="<%= article.path %>"><%= article.title %></a></h2>
  </header>
  <aside>
    <ul>
      <li><%= article.date %></li>
    </ul>
  </aside>
  <div>
    <%= body %>
  </div>
</article>
