<% for article in articles[0...3] %>
  <article>
    <header>
      <h2><a href="<%= article.path %>"><%= article.title %></a></h2>
    </header>
    <aside>
      <span class="month"><%= article.date.strftime("%B") %></span>
      <span class="year"><%= article.date.year %></span>
    </aside>
    <div>
      <%= article.summary %>
    </div>
  </article>
<% end %>

