<% for article in articles[0...3] %>
  <article class="post">
    <header>
      <h3><a href="<%= article.path %>"><%= article.title %></a></h3>
      <span class="date"><%= article.date %></span>
    </header>
    <%= article.summary %>
    <a href="<%= article.path %>">read on &raquo;</a>
  </article>
<% end %>

