<!doctype html>
<html>
  <head>
    <link rel="alternate" type="application/atom+xml" title="compactcode - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>compact code - less code, more features</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/index.xml">Subscribe</a></li>
      </ul>
    </nav>
    <header>
      <h1><a href="/">compact code</a></h1>
    </header>
    <%= yield %>
    <footer>
      powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
    <script type="text/javascript" src="/js/analytics.js"></script>
  </body>
</html>

